* {
  box-sizing: border-box;
}

body {
  background-color: #454647;
}

main {
  margin: 0 auto;
  max-width: 1000px;
  align-content: center;
}

h1,
h2,
h3,
p,
li {
  font-family: "Lato", sans-serif;
  color: #ebebed;
}

h1 {
  text-align: center;
}

h2 {
  color: #d9643a;
  margin: 0;
}

ul {
  padding-left: 20px;
}

.box {
  width: 450px;
  height: auto;
  background-color: #343535;
  padding: 18px 24px;
  margin: 30px auto;
  border-radius: 5px;
}

.fa-solid {
  font-size: 1.2rem;
  color: #ebebed;
  float: right;
  padding-top: 6px;
}
