:root {
  --clr-primary: #343535;
  --clr-secondary: #ffd300;
  --ff-primary: "Barlow Semi Condensed", sans-serif;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.35rem;
  --fs-700: 2.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  font-size: var(--fs-600);
}

h2 {
  margin: 0;
  margin-top: 3rem;
  font-size: var(--fs-700);
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  margin: 0;
  background-color: #acabab;
}

nav,
footer {
  background-color: var(--clr-primary);
  font-size: var(--fs-500);
  line-height: 60px;
  text-align: right;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 4px;
}

.fa-html5 {
  color: rgb(197, 65, 13);
}

.fa-css3-alt {
  color: rgb(28, 77, 209);
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 500;
  padding-left: 1.25rem;
}

a:hover {
  color: var(--clr-secondary);
}
main {
  margin: 0 auto;
  max-width: 1200px;
  align-content: center;
  padding-top: 3.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 29%;
  text-align: center;
  color: whitesmoke;
}
