.bg-dark {
  background-color: #353a40 !important;
}

.navbar-brand img {
  width: 110px;
}

.link-success {
  color: #29a744 !important;
}

.link-success:hover {
  color: #3ae860 !important;
}

.text-reset {
  text-decoration-style: dotted;
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.carousel-caption {
  font-size: 1.1rem;
  margin-bottom: 70px;
  right: 6%;
  margin-left: auto;
  max-width: 570px;
  padding-bottom: 35px;
  z-index: 5;
}

.carousel img {
  object-fit: cover;
  height: 780px;
}

.honolulu {
  background-image: url(../img/honolulu.jpg);
  background-size: cover;
  height: 640px;
}

form {
  max-width: 770px;
}

.carousel .btn-success {
  background-color: #29a744;
  border-color: #29a744;
}

.carousel .btn-success:hover {
  background-color: #186429;
  border-color: #186429;
}

.bg-info {
  background-color: #17a2b7 !important;
}

.btn-success {
  background-color: #96c93e;
  border-color: #96c93e;
}
.btn-success:hover {
  background-color: #516d20;
  border-color: #516d20;
}

#total {
  margin-top: 20px;
  padding: 15px 15px;
  color: #285b93;
  background-color: #cce5ff;
}

#total:disabled {
  background-color: #cce5ff;
}

.formbuy {
  max-width: 700px;
}

footer .nav-item {
  padding: 0px 25px;
  width: 170px;
}

footer {
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1e5372, #1c3d4e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #1e5372,
    #1c3d4e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (min-width: 768px) {
  .foo {
    position: absolute;
    bottom: 0;
  }
}
